* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	text-shadow: none;
	color: black;
	text-transform: none;
	overflow-y: hidden;
}
body{
	overflow-y: hidden;
	direction: rtl;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	background: transparent;
	
}

/* header */
[data-role=header] {
	height: 149px;
	width: 100%;
	margin:auto;
	text-align: center;
	text-shadow: none;
	background-color: white !important;
	border-color: white !important;

}


header div {
	display: inline-block;

}


header .container {
	height: 40px;
	width: 100%;

	position: relative;
	display:inline-block;
	text-align:center;
	text-shadow: none;
}


.logo, .back{
	height: 40px;
	display: inline;
	position: relative;
}
.container .logo{
	float: right;
	width: 90%;
}

.logo .hebrew{
	font-size:18px;
	position: relative;
	/*top:9px;*/
	line-height:37px;
	padding-right: 7.9px;
	
}
header .back{
	width: 9%;
	float: left;
	line-height:39px;
}

header .shenkar_logo {
	height: auto;
	float:right;
	width: 22px;
	position:relative;
	top:10px;
	text-shadow: none;
}

header .sidar_logo {
	height: 10px;
	width: 100%;
	position: relative;
	top:-13px;
	/*float: right;*/
}

/* אחוזים-בהתאם למסך.  פיקסל-נשאר קבוע.*/
header .navigation {
	top:-9px;
	position:relative; 	
	width:100%;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
	-webkit-column-gap: 10px; /* Chrome, Safari, Opera */
	-moz-column-gap: 10px; /* Firefox */
	column-gap: 10px;
	
}
.content {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
	-moz-column-count: 4; /* Firefox */
	column-count: 4;
	-webkit-column-gap: 10px; /* Chrome, Safari, Opera */
	-moz-column-gap: 10px; /* Firefox */
	column-gap: 10px;
  margin-top: 5px;
	width:100%;
	display:inline-block;
}


.nav{
	width:99%;
	position: :relative;
	display:inline-block;
	height:22px;
	margin:2px 0 2px 0;
	font-size:13px;
	line-height: 180%;
	text-shadow: none;
	color:black !important;
}
.navColor{
background:none; 
border: 1px solid #D0D0D0;
/*background: #fcfff4; /* Old browsers */
/*background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}
.ui-link{
	color:black !important;
}



.contentImg{
  display: inline-block;
  height: auto;
  width: 98%;
  /*background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRBwXVwNmnJnxaHDHbJLY2ttOtUUPNxgVI4-OW_rP9NIwqiWA5x');*/
  background-size: calc(100% - 15px) calc(100% - 15px);
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat;
  border: 1px solid red;
  border-left-style:1px solid black;
  margin: 2px 0 2px 0px;
  /*border-left:1px solid black;*/
}


.contentImg img{
	margin:0;
	width:100%;
	height: auto;
	
}


/* content css */
#content {
	/*top:13px;*/
	position: relative;
	padding: 0;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0;
	height: 100%;
	text-align: center;
	/*background-image: url('../img/background.jpg');
	background-size: 100% 100%;
	background-repeat: repeat;*/
	font-family: Arial;
	direction: rtl;
	overflow-y: auto;
	overflow-x: hidden;
}

#content::-webkit-scrollbar { 
    display: none; 
}
