<div data-role="page" id="designPage" >
	<header ui-view="header" data-role="header" data-position="fixed" data-tap-toggle="false">

		<div class="container">

			<a href="#/" class="title"> <img class="shenkar_logo" src="img/shenkar_logo.png"> <span class="hebrew"> מכון שנקר לתיעוד וחקר העיצוב בישראל </span> </a>
			<a data-target="#"  class="back" onclick="window.history.back();"> > </a>
			<img src="img/sidar_logo_horizontal.jpg" class="sidar_logo">
		</div>

		<div class="navigation">
			<a ng-repeat="nav in navigation" href="{{nav.path}}" ng-click="changeState($index,nav.cat)" class="nav">{{nav.name}}</a>
		</div>
	</header>


<div data-role="content" class="ui-content" id="content">
		<div class="content one_columns">
			
			<div ng-if="state == 0" style="background:#026CB9 ">
				<article ng-repeat="info in design.fashion" >
					<p class="textBox_title" style="color: white; margin-bottom: 10px">
						{{info.title}}
					</p>
				<p class="textBox_content" style="color: white">
						{{info.content}}
					</p> 
				</article>
			</div>
			
			<div ng-if="state == 1" style="background:#ADD8E6 ">
				<article ng-repeat="info in design.visual" >
					<p class="textBox_title" style="margin-bottom: 10px">
						{{info.title}}
					</p>
					<p class="textBox_content">
						{{info.content}}
					</p>
				</article>
			</div>

			<div ng-if="state == 2" style="background:#FC513F ">
				<article ng-repeat="info in design.jewelry" >
					<p class="textBox_title" style="margin-bottom: 10px">
						{{info.title}}
					</p>
					<p class="textBox_content">
						{{info.content}}
					</p>
				</article>
			</div>
			
			<div ng-if="state == 3"  style="background:#FCA649 " >
				<article ng-repeat="info in design.industrial">
					<p class="textBox_title" style="margin-bottom: 10px">
						{{info.title}}
					</p>
					<p class="textBox_content">
						{{info.content}}
					</p>
				</article>
			</div>


		<div class="content four_columns">
			<a ng-repeat="work in designImages || globalWorks track by $index" ng-click="getWorkFromDesignWork($index)">
				<!-- <div  class="contentImg" style="background-image: url('{{work.url}}')"> -->
				<div class="contentImg" style="background-image: url('{{work.newImage}}')"> </div>
			</a>
		</div>

	</div>
</div>