<div data-role="page" id="disciplinePage" >
	<header data-role="header" data-position="fixed" data-tap-toggle="false">

		<div class="container">

			<a href="#/" class="title"> <img class="shenkar_logo" src="img/shenkar_logo.png"> <span class="hebrew"> מכון שנקר לתיעוד וחקר העיצוב בישראל </span> </a>
			<a data-target="#"  class="back" onclick="window.history.back();"> > </a>
			<img src="img/sidar_logo_horizontal.jpg" class="sidar_logo">
		</div>

		<div class="navigation">
			<a ng-repeat="nav in navigation" href="{{nav.path}}" ng-click="changeState($index)" class="nav">{{nav.name}}</a>
		</div>
	</header>

	<div data-role="content" class="ui-content" id="content">
		<div class="content one_columns">
			<div ng-if="state == 0" >
				<article ng-repeat="info in data.info">
					<p class="textBox_title">
						{{info.title}}
					</p>
					<p class="textBox_content">
						{{info.content}}
					</p>
				</article>
			</div>

			<div ng-if="state == 1" >
				<article ng-repeat="goal in data.goals">
						<ul class="list">
							<li class="textBox_content">
								{{goal}}
							</li>
						</ul>
				</article>
			</div>

			<div ng-if="state == 2" >
				<article ng-repeat="msg in data.messages">
						<ul class="list">
							<li class="textBox_content">
								{{msg}}
							</li>
						</ul>
				</article>
			</div>

			<div ng-if="state == 4" >
				<article ng-repeat="contact in data.contact">
						<ul class="list">
							<li class="textBox_content">
								{{contact}}
							</li>
						</ul>
				</article>
			</div>
		</div>

		<div ng-if="state==3" class="content four_columns">
			<div ng-repeat="event in events" class="contentImg" style="background-image: url('{{event.url}}')"
			ng-click="displayEvent($index)" >

			</div>
		</div>

		<div ng-if="state!=3" class="content four_columns">
			<div ng-repeat="work in globalWorks" class="contentImg" style="background-image: url('{{work.url}}')">

			</div>
		</div>

	</div>
</div>