<div  data-role="page" id="indexPage" >
	<header ui-view="header"  data-role="header" data-position="fixed" data-tap-toggle="false">

		<div class="container">

			<a href="#/" class="title"> <img class="shenkar_logo" src="img/shenkar_logo.png"> <span class="hebrew"> מכון שנקר לתיעוד וחקר העיצוב בישראל </span> </a>
			<a data-target="#" class="back" onclick="window.history.back();" > > </a>
			<img src="img/sidar_logo_horizontal.jpg" class="sidar_logo">
		</div>
		
			
		<div class="navigation">
			<a ng-repeat="nav in navigation" href="{{nav.path}}" class="nav">{{nav.name}}</a>
		</div>

	</header>

	<div data-role="content" class="ui-content" id="content">
		<div class="content four_columns">
			<a ng-repeat="work in globalWorks track by $index" ng-click="getWorkFromGlobalWorks($index)">
				<!-- <div  class="contentImg" style="background-image: url('{{work.url}}')"> -->
				<div class="contentImg" style="background-image: url('{{work.newImage}}')"> </div>
			</a>
		</div>
	</div>
</div>