<div data-role="page" id="theoreticals" >
	<header ui-view="header"  data-role="header" data-position="fixed" data-tap-toggle="false">

		<div class="container">

			<a href="#/" class="title"> <img class="shenkar_logo" src="img/shenkar_logo.png"> <span class="hebrew"> מכון שנקר לתיעוד וחקר העיצוב בישראל </span> </a>
			<a data-target="#"  class="back" onclick="window.history.back();"> > </a>
			<img src="img/sidar_logo_horizontal.jpg" class="sidar_logo">
		</div>

		<div class="navigation">
			<a ng-repeat="nav in navigation" href="{{nav.path}}" ng-click="changeState($index)" class="nav">{{nav.name}}</a>
		</div>
	</header>

	<div data-role="content" class="ui-content" id="content">
		<div class="content one_columns">

			<div ng-show="state==0" ng-hide="state!=0" class="content four_columns">
				<a  ng-repeat="site in sites" ng-click="displaySite(site)" > 
					<div  class="contentImg" style="background-image: url('{{site.urlPic}}')" >

				</div> </a>
			</div>

			<div ng-show="state==1" ng-hide="state!=1" class="content four_columns">
				<a  ng-repeat="art in reports" ng-click="displayPdf(art)" >
					 <div  class="contentImg" style="background-image: url('{{art.urlPic}}')" >

				</div> </a>
			</div>

			<div ng-show="state==2" ng-hide="state!=2" class="content four_columns">
				<a  ng-repeat="art in articles" ng-click="displayPdf(art)"  >
					 <div  class="contentImg" style="background-image: url('{{art.urlPic}}')" >

				</div> </a>
			</div>
			<div ng-show="state==3" ng-hide="state!=3" class="content four_columns">
				<a  ng-repeat="res in resume" ng-click="displayPdf(res)" >
					 <div  class="contentImg" style="background-image: url('{{res.urlPic}}')" >

				</div> </a>
			</div>
			<div ng-show="state==4" ng-hide="state!=4" class="content four_columns">
				<a  ng-repeat="ph in philosophy" ng-click="displayPdf(ph)"  > 
					<div  class="contentImg" style="background-image: url('{{ph.urlPic}}')" >

				</div> </a>
			</div>
			<div ng-if="state!=0 && state!=1 && state!=2 && state!=4 && state!=3" class="content four_columns">
				<a ng-repeat="work in globalWorks track by $index" ng-click="getWorkFromGlobalWorks($index)">
				<!-- <div  class="contentImg" style="background-image: url('{{work.url}}')"> -->
				<div class="contentImg" style="background-image: url('{{work.newImage}}')"> </div>
			</a>
			</div>

		</div>
	</div>
